.catalog_column {
  padding: 10px 10px 5px 10px;
  margin: 0px 10px 10px 10px;
  width: 32%;
  box-sizing: border-box; /* Ensures padding is included in the width */
  background-color: #0c0c0c;
  border-radius: 40px;
}

.catalog_column_title {
  background-color: #ffffffea;
  color: #000000;
  padding: 10px;
  margin: 0; /* Remove side margins */
  width: 100%; /* Full width + padding from the parent */
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  transform: translateX(-10px);
  border-bottom: 1px solid transparent;
  border-color: white;
}

.catalog_item {
  color: #fff;
  padding: 10px;
  width: 100%;
  transform: translateX(-10px);
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  height: 80px;
  font-size: 24px;

  border-bottom: 1px solid transparent;
  border-color: white;
}
.catalog_column button {
  width: 104%;
  padding: 10px;
  transform: translateX(-10px);
  margin: 0 0px;
  border-radius: 25px;
  height: 80px;
  border:0px;
  font-size: 28px;
}
.catalog_column span {
  padding: 10px;
  margin: 0;
  width: 100%;
  transform: translateX(-10px);
}