.catalog-title {
    text-align: center;
    font-size: 24px;
    width: 90.1%;
    margin: 0 auto;
  }

.catalog-title h1 {
  margin-bottom: 5px;
  padding-top: 30px;
  background-color: #000000ea;
  color: white;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

  border-color: white;
}