.catalog_title {
    text-align: center;
    font-size: 24px;
  }

.catalog_title h1 {
  margin-bottom: 5px;
  padding-top: 30px;
  background-color: #000000ea;
  color: white;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-color: white;
}